[project]
	description = Chef Cookbook to setup windows workstation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Levi Smith (TheFynx)
[access "refs/for/refs/*"]
	read = group user/Levi Smith (TheFynx)
	push = group user/Levi Smith (TheFynx)
	label-Code-Review = -2..+2 group user/Levi Smith (TheFynx)
	label-Verified = -1..+1 group user/Levi Smith (TheFynx)
	rebase = group user/Levi Smith (TheFynx)
	removeReviewer = group user/Levi Smith (TheFynx)
	submit = group user/Levi Smith (TheFynx)
[access "refs/heads/*"]
	read = group user/Levi Smith (TheFynx)
	create = group user/Levi Smith (TheFynx)
	push = +force group user/Levi Smith (TheFynx)
	pushMerge = group user/Levi Smith (TheFynx)
[access "refs/tags/*"]
	push = +force group user/Levi Smith (TheFynx)
	pushTag = group user/Levi Smith (TheFynx)
	pushSignedTag = group user/Levi Smith (TheFynx)
